@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kalam');


html, body{
  height: 100%;
  width: 100%;
  font-family: 'Kalam', cursive;
}

.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 5px;
  margin-right: 5px; 
}
.nav-link{
  font-size: 1.0em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
  font-size: 300%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary{
  background-color: #ee4035;
  border-color: #ee4035;
}

.btn-primary:hover{
  background-color: #e55752;
  border-color: #e55752;
}

.jumbotron{
  padding:1rem;
  border-radius: 0;

}

.padding{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr{
  border-top: 2px solid #f37736;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

#about-us{
	width: 90%;
	margin: 0 auto;
}

#holiday-club{
	width: 90%;
	margin: 0 auto;
}

#staff{
	width: 90%;
	margin: 0 auto;
}

#quote-section{
	width: 90%;
	margin: 0 auto;
}

#icon-section{
		width: 90%;
	margin: 0 auto;
}

.fa-shapes{
  color: #7bc043;
}

.fa-book-reader{
  color: #0392cf;
}
.fa-pencil-alt{
  color: #f37736;
}

.fa-shapes, .fa-book-reader,.fa-pencil-alt{
  font-size: 4em;
  margin: 1rem;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}
.fa-twitter:hover ,.fa-facebook:hover {
  color: #f37736
}

footer{
  background-color: #fdf498;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #f37736;
  width: 75%; 
}

.fixed-wrap{
	padding-bottom: 2rem;
}

.quotes img{
  padding-bottom: 10px;
}





/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }

  }
@media (max-width: 768px) {
  .carousel-caption{
  top: 45%;
}

.carousel-caption h1{
  font-size: 300%;
}

.carousel-caption h3{
  font-size:150%;
  padding-bottom: 1rem;
}
.carousel-caption .btn{
  font-size: 95%;
  padding: 8px 14px;
}
}
@media (max-width: 576px) {
  .carousel-caption .btn{
  font-size: 50%;
  padding: 8px 14px;
}
.carousel-indicators{
  display: none;
}

.paralax-bg{
  display: none;
}

.carousel-caption h1{
  font-size: 150%;
}

.carousel-caption h3{
  font-size:90%;
  padding-bottom: 1rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








